{% extends "BloginyBundle::layout.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/bloginy/js/BloginyPager.js') }}"></script>
{% endblock %}

{% block body %}

    <div id="posts-list">
        {% include "BloginyBundle:BlogPost:list_ajax.html.twig" with {'posts': posts, 'show_pager': show_pager, 'from': from} %}
    </div>

{% endblock %}

{% block sidebar_left %}
    {% render "BloginyBundle:Utils:mainMenu" with {"current": "aggregator"} %}
    {% render "BloginyBundle:BlogPost:languageFilter" with {'language': language} %}
{% endblock %}