{% extends "BloginyBundle::layout.html.twig" %}

{% block title %}Bloginy : {% trans from "bloginy" %}Search posts{% endtrans %}{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/bloginy/js/BloginyPager.js') }}"></script>
{% endblock %}

{% block body %}

    <div id="posts-list">
        {% render "BloginyBundle:BlogPost:searchPosts" with {'filter': filter} %}
    </div>

{% endblock %}

{% block search %}
    {% include "BloginyBundle:BlogPost:_search_form.html.twig" with {'value': filter} %}
{% endblock %}

{% block sidebar_left %}
    {% render "BloginyBundle:Utils:mainMenu" with {"current": "aggregator"} %}
{% endblock %}