<a href="{{ path('user_profile', {'username': activity.user.username }) }}">{{ activity.user.username }}</a>
 {% trans from "bloginy" %}proposed{% endtrans %} 
<a {% if is_arabic(activity.post.title) %}dir="rtl"{% else %}dir="ltr"{% endif %} href="{{ path('post_show', {'slug': activity.post.slug }) }}">{{ activity.post.shortTitle(20) }}</a>
