<a href="{{ path('user_profile', {'username': activity.user.username }) }}">{{ activity.user.username }}</a>
{% trans from "bloginy" %} has voted for {% endtrans %} 
<a {% if is_arabic(activity.post.title) %}dir="rtl"{% else %}dir="ltr"{% endif %} href="{{ path('post_show', {'slug': activity.post.slug }) }}">{{ activity.post.shortTitle(15) }}</a>
