<a class="bloginy-pager" href="{{ path(route, params) }}">
    {% trans from "bloginy" %}More comments{% endtrans %}
</a>

<script>
    bloginyPager.init("{{ (target is defined) ? target : '#comments-list'}}");
</script>
