<p>
    {% trans from "user" %}You have just subscribed to{% endtrans %} <a href="{{ url('homepage') }}">Bloginy</a>. {% trans from "user" %}We welcome you between us{% endtrans %}.
</p>
<p>
    {% trans from "user" %}To activate your account, click on the link below or copy/paste it to your browser{% endtrans %}.
</p>
<br />
<p><a href="{{ url('user_activate', {'username': user_activation.user.username, 'code': user_activation.code}) }}">
    {{ url('user_activate', {'username': user_activation.user.username, 'code': user_activation.code}) }}
</a></p>

<p>----------------------</p>
<p>{% trans from "user" %}Do not respond to this automatic mail, thank's{% endtrans %}.</p>
