<h1>{{ page.name }}</h1>

<ul id="page-menu" class="tabs">
        <li><span>{% trans from 'bloginy' %}Posts By{% endtrans %}</span></li>
    {% if page.tags|length %}
        <li><a href="#by-tags">Tags</a></li>
    {% endif %}

    {% if page.users|length %}
        <li><a href="#by-users">Authors</a></li>
    {% endif %}

    {% if page.blogs|length %}
        <li><a href="#by-blogs">Blogs</a></li>
    {% endif %}
</ul>

{% if page.tags|length %}
    <div id="by-tags" class="tabs_content">
        {% render "BloginyBundle:Page:tagPosts" with {'slug': page.slug} %}
    </div>    
{% endif %}

{% if page.users|length %}
    <div id="by-users" class="tabs_content">
        {% render "BloginyBundle:Page:userPosts" with {'slug': page.slug} %}
    </div>    
{% endif %}

{% if page.blogs|length %}
    <div id="by-blogs" class="tabs_content">
        {% render "BloginyBundle:Page:blogPosts" with {'slug': page.slug} %}
    </div>    
{% endif %}

<script>
    var tabs = new BloginyTabs($('#page-menu'));
    tabs.init();
</script>