{% extends "::layout.html.twig" %}

{% block mainmenu %}
    {% render "BloginyBundle:Utils:mainMenu" %}
{% endblock %}

{% block submenu %}
     <div id="submenu"></div>
{% endblock %}

{% block body %}
<h1>Conditions générales</h1>
<h2>Introduction</h2>

<p>Bloginy est un portail d'actualité du web algérien. C'est un
portail communautaire de partage et de promotions d'articles et
informations issus de sites et blogs algériens. .</p>
<br />
<h2>Conditions d'utilisation</h2>

<p>L'utilisation des articles (titre, résumé, lien et auteur) à
partir de Bloginy ou des flux RSS émis par Bloginy est autorisée, à
condition qu'aucune modification ne soit apportée et que l'url de la
source (Bloginy) soit mentionné et que l'auteur qui a proposé
l'article soit également mentionné.</p>

<p>Les éléments des sites Web Bloginy sont protégés par le droit des
dessins et modèles, le droit d'auteur, le droit des marques ainsi que
par la réglementation applicable à la concurrence déloyale et ils ne
peuvent être copiés ou imités en tout ou partie. Sauf autorisation
expresse de Bloginy, aucun logo, élément graphique, son ou image
provenant d'un site Web Bloginy ne peut être copié ou diffusé.</p>

<p>Les articles proposés sur Bloginy sont fournis tel qu'ils sont sans
garantie de la part de Bloginy. Bloginy exclut toute responsabilité
concernant les articles proposés, que ce soit sur la qualité, usage ou
les contrefaçons.</p>

<p>Enfin, Bloginy se réserve le droit d'apporter, à tout moment, des
améliorations ou des modifications aux services offerts par ce site
Web.</p>

<p>Vous ne pouvez utiliser le site Web Bloginy qu'à des fins
personnelles, c'est à dire à des fins non commerciales et aucunement
de manière illégale ou de façon à nuire à Bloginy, aux éditeurs
syndiqués sur son service ou aux utilisateurs "contributeurs" qui
postent des commentaires ou des articles.</p>

<p>Bloginy se réserve le droit d'utiliser, copier, distribuer,
transmettre, afficher publiquement, présenter publiquement, reproduire,
éditer, modifier, traduire, supprimer et reformater la contribution des
utilisateurs (articles ou commentaires) dans le cadre du site Web
Bloginy.</p>

<p>Pour chaque contribution, l'auteur déclare disposer de tous les
droits nécessaires afin d'accorder les autorisations prévues dans le
présent article.</p>

<p>Enfin, Bloginy se réserve également le droit de modifier les
termes, conditions et mentions d'avertissement applicables à ses sites
Web.</p>

<p>Votre utilisation renouvelée du site Web Bloginy, après la date
effective de telles ou telles modifications, constitue l'acceptation de
votre part de toutes ces modifications.</p>

<p>Les sites cibles (liens externes) ne sont pas sous le contrôle de
Bloginy et Bloginy n'est nullement responsable du contenu de ces sites,
des liens qu'ils contiennent ni des changements ou mises à jour qui
leur sont apportés. Bloginy fournit le titre, le lien et un court
extrait de l'article pour votre commodité, et l'inclusion de tout lien
vers un article n'implique par l'approbation du site applicable par
Bloginy.</p>

<p>Bloginy rassemble les flux RSS des articles de différentes source
d'informations à condition qu'elle ait été proposé sur le site.
Toute site peut demandé de ne plus être référencé sur Bloginy. Par
conséquent, Bloginy ne saurait être tenu responsable de la
discontinuité d'une ou de plusieurs sources parmi les milliers
aujourd'hui disponibles sur son site Web.</p>
<br />
<h2>Données personnelles</h2>

<p>Bloginy s'engage à protéger la vie privée de ses utilisateurs en
respectant la privacité des données d'un utilisateur.</p>

<p>Tout utilisateur inscrit sur Bloginy accepte de diffuser sur le site,
son pseudo, son site web et son avatar. Il donne également le droit à
Bloginy de le contacter par email.</p>

<p>En aucun cas, Bloginy ne partagera ni ne divulguera vos données
personnelles, excepté dans le cas ou nous y sommes contraints par une
autorité judiciaire ou par la loi.</p>

<p>Par "données personnelles" Bloginy entend toutes les informations
vous concernant en tant que personne physique que vous nous fournirez
volontairement ou que nous collecterons dans le cadre de votre
navigation et qui, quelle qu'en soit la nature, nous permettront
directement ou non de vous identifier.</p>

<p>L'utilisation de certains services Bloginy vous oblige à vous
identifier (Le vote, la publication d'articles).</p>

<p>Certaines des informations, notamment celles provenant des données
de navigation, peuvent être agrégées (et donc être rendues anonymes)
afin d'optimiser votre utilisation du site Bloginy.</p>

<p>Au delà d'un an d'inactivité de votre compte Blgoiny, celui-ci peut
être supprimé à tout moment, sans information préalable. Vous
perdrez donc votre identifiant, qui pourra être réattribué le cas
échéant à un autre utilisateur.</p>

<p>Bloginy se réserve le droit, aux bonnes fins d'utilisation de ses
services, de placer des "cookies" sur votre ordinateur et d'y accéder.</p>

<p>Un utilisateur peut demander à n'importe quel moment la suppression
de son compte de Bloginy qui sera effective dans les 30 jours suivants
la demande.</p>

<p>Bloginy vous informe que vous disposez d'un droit général d'accès,
de rectification et de suppression de l'ensemble des données
personnelles vous concernant qui ont été collectées au titre de votre
utilisation de nos services.</p>

<p>Bloginy fait ses meilleurs efforts pour protéger vos données
personnelles contre toute forme de dommage, perte, détournement,
intrusion, divulgation, altération ou destruction. Par mesure de
sécurité, vos infos compte Bloginy sont protégées par un mot de
passe personnel. Cependant, Bloginy exclut toute responsabilité dans le
cas de piratage ou détournement du site web.</p>

{% endblock %}