{% extends "::layout.html.twig" %}

{% block title %}Bloginy : {% trans from "user" %}Activation Success{% endtrans %}{% endblock %}

{% block body %}

    <h1>{% trans from "user" %}Activation Success{% endtrans %}</h1>

    {% trans from "user" %}Your account has been activated with success, you can now login on Bloginy{% endtrans %}.

{% endblock %}


{% block submenu %}
    <div id="submenu"></div>
{% endblock %}