{% extends "::layout.html.twig" %}

{% block title %}Bloginy : {% trans from "user" %}Activation Failed{% endtrans %}{% endblock %}

{% block body %}

    <h1>Activation Failed</h1>

    Your account is already activated.

{% endblock %}


{% block submenu %}
    <div id="submenu"></div>
{% endblock %}