{% extends "::layout.html.twig" %}

{% block title %}Bloginy : {% trans from "user" %}Account locked{% endtrans %}{% endblock %}

{% block body %}

    <h1>Account locked</h1>

    Your account has been locked, contact the administrator for more informations.

{% endblock %}


{% block submenu %}
    <div id="submenu"></div>
{% endblock %}