<form class="form" action="{{ path('_security_check') }}" method="post">
    <table>
        <tr>
            <td><label for="username">{% trans from "user" %}Username or Email{% endtrans %}:</label></td>
            <td><input type="text" id="username" name="_username" value="{{ last_username is defined ? last_username : '' }}" /></td>
        </tr>
        <tr>
            <td><label for="password">{% trans from "user" %}Password{% endtrans %}:</label></td>
            <td><input type="password" id="password" name="_password" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                <label for="remember_me">{% trans from "user" %}Keep me logged in{% endtrans %}</label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button class="button2 small-spacer-top" name="login">{% trans from 'user' %}login{% endtrans %}</button>
                <a href="{{ path('user_lost_password') }}" class="lost_password">{% trans from 'user' %}Lost password ?{% endtrans %}</a>
            </td>
        </tr>

    </table>
</form>