<h3>{% trans from 'user' %}Login to Bloginy{% endtrans %}</h3>
    
{% include "UserBundle:User:login_form.html.twig" %}

<div class="small-spacer-top"></div>
<div class="simple-separator"></div>

<h3 class="spacer-top"><a id="subscribe-link" href="#">{% trans from 'user' %}New to Bloginy ? Join today{% endtrans %}</a></h3>

<div id="subscribe-panel">
    {% include "UserBundle:User:subscribe_form.html.twig" with {'form': form} %}
</div>

<script>
    $('a#subscribe-link').click(function(e){
        e.preventDefault();
        $('#subscribe-panel').show();
        $.fancybox.resize();
    });
</script>