{% extends "::layout.html.twig" %}

{% block title %}Bloginy : {% trans from "user" %}Welcome between us{% endtrans %}{% endblock %}

{% block body %}

    <h1>{% trans from "user" %}Welcome between us{% endtrans %}</h1>
    {% trans from "user" %}Congratulations, you've just subscribed to Bloginy{% endtrans %}.

{% endblock %}


{% block submenu %}
    <div id="submenu"></div>
{% endblock %}