.form input {
    height: 22px;
    line-height: 15px;
    outline-style: none;
    margin-bottom: 5px;
    background: #f0f0f0;
    border: 1px solid #999;
    margin-right: 5px;
    padding: 5px;
    width: 200px;
}

.form .checkbox input {
    width: auto;
    height: 25px;
    padding: 0;
    line-height: 25px;
}

.form select {
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    outline-style: none;
    margin-bottom: 5px;
    background: #f0f0f0;
    border: 1px solid #999;
    margin-right: 5px;
}

.ar_DZ .form select, .ar_DZ .form input {
    margin-left: 5px;
    margin-right: 0;
}

.form table {
    border-collapse: collapse;
}


.sidebar .form input,  .sidebar .form select {
    width: 100%;
}

.form label {
    padding-right: 10px;
    text-align: right;
    margin-bottom: 5px;
    line-height: 25px;
}

.ar_DZ .form label {
    padding-right: 0;
    padding-left: 10px;
}

.form textarea {
    width: 400px;
    height: 100px;
    background: none;
    outline-style: none;
    margin-bottom: 5px;
    padding: 5px;
    background: #f0f0f0;
    border: 1px solid #999;
}

.form tr.spacer td {
    height: 15px;
}

.form tr.separator td {
    border-top: 1px dotted #999;
}

.form .help {
    cursor: pointer;
    vertical-align: middle;
}

.form .captcha img {
    display: block;
}


/* --------------- CSS3 Button ------------------------- */
a.button, a.button2 {
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

.button {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #0a0a0a;
    padding: 8px 10px;
    background: #ddd;
    background: -moz-linear-gradient(
        top,
        #f0f0f0 0%,
        #c6c6c6);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#f0f0f0),
        to(#c6c6c6));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 0;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    text-shadow:
        0px 0px 0px rgba(232,14,232,0),
        0px 1px 0px rgba(255,255,255,1);
    cursor: pointer;
}

.button:hover {
    background: -moz-linear-gradient(
        top,
        #f0f0f0 0%,
        #e6e6e6);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#f0f0f0),
        to(#e6e6e6));
    text-decoration: none;
}

.button2 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #0a0a0a;
    padding: 8px 10px;
    background: -moz-linear-gradient(
        top,
        #e0e0e0 0%,
        #b6b6b6);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#e0e0e0),
        to(#b6b6b6));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 0;
    -moz-box-shadow:
        0px 1px 2px rgba(000,000,000,0.8),
        inset 0px 0px 3px rgba(220,220,220,1);
    -webkit-box-shadow:
        0px 1px 2px rgba(000,000,000,0.8),
        inset 0px 0px 3px rgba(220,220,220,1);
    box-shadow:
        0px 1px 2px rgba(000,000,000,0.8),
        inset 0px 0px 3px rgba(220,220,220,1);
    text-shadow:
        0px 0px 0px rgba(232,14,232,0),
        0px 1px 0px rgba(255,255,255,1);
    cursor: pointer;
}

.button2:hover {

    background: -moz-linear-gradient(
        top,
        #e3e3e3 0%,
        #c6c6c6);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#e3e3e3),
        to(#c6c6c6));
    border: 0px solid #ffbf00;
    -moz-box-shadow:
        0px 1px 2px rgba(000,000,000,0.8),
        inset 0px 0px 3px rgba(200,200,200,1);
    -webkit-box-shadow:
        0px 1px 2px rgba(000,000,000,0.8),
        inset 0px 0px 3px rgba(200,200,200,1);
    box-shadow:
        0px 1px 2px rgba(000,000,000,0.8),
        inset 0px 0px 3px rgba(200,200,200,1);
    text-decoration: none;
}

.button[disabled]:active, .button[disabled],
.button2[disabled]:active, .button2[disabled] {
    color: #bbb;
}
