{% extends "::layout.html.twig" %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/bundles/bloginy/utils/bloginyPager.js') }}"></script>
    <script src="{{ asset('js/bundles/bloginy/post/PostHandler.js') }}"></script>
{% endblock %}

{% block mainmenu %}
    {% render "BloginyBundle:Utils:mainMenu" with {"current": "home"} %}
{% endblock %}

{% block body %}

    <div id="posts-list">
        {% include "BloginyBundle:Post:list_ajax.html.twig" with {'posts': posts, 'votes': votes, 'show_pager': show_pager, 'page': page, 'category_name': category_name, 'sort': sort , 'language' : language} %}
    </div>

{% endblock %}

{% block submenu %}
    <div id="submenu">
         <div id="icons-menu">
             <a href="{{ path('feed_top_posts', {'category_name': category_name, 'language': language, 'sort': sort}) }}" class="rss_icon icon" title="{% trans from 'Bloginy' %}Follow this page's feed{% endtrans %}">{% trans from "Bloginy" %}Follow this page's feed{% endtrans %}</a>
         </div>
        
         {% include "BloginyBundle:Post:sort.html.twig" with {'category_name': category_name, 'language': language, 'sort': sort } %}
    </div>
{% endblock %}


{% block sidebarleft %}
    <div id="sidebar-left" class="sidebar">
        {% render "BloginyBundle:Category:list" with {'category_name': category_name, 'sort': sort , 'language' : language} %}
        {% render "BloginyBundle:Post:languageFilter" with {'category_name': category_name, 'sort': sort , 'language' : language} %}
    </div>
{% endblock %}


{% block sidebarright %}
    <div id="sidebar-right" class="sidebar">
        {% include "BloginyBundle:User:share_button.html.twig" %}
        {% include "BloginyBundle:Utils:subscribe_block.html.twig" %}
        {% render "BloginyBundle:Blog:dailyBlog" %}
        {% include "BloginyBundle:Post:tag_cloud.html.twig" with {'tags': tags} %}
    </div>
{% include "BloginyBundle:Utils:dzblogday_link.html.twig" %}
{% endblock %}