{% for post in posts|keys %}
    {% include "BloginyBundle:Post:resume.html.twig" with {'post' : posts[post], 'vote' : votes[posts[post].id]|default(false), 'class' : cycle(['odd', 'even'], post) } %}
{% endfor %}

{% if posts and refreshed %}
    <div class="bloginy-separator"></div>
{% endif %}


{% if refresh %}
    <script>
        var view = new LiveView($('#posts-list'), "{{ path('posts_live' , {'from' : refresh_from, 'refresh' : true}) }}");
        view.init();
    </script>
{% endif %}

{% if show_pager %}
    {% include "BloginyBundle:Post:pager.html.twig" with {'route' : 'posts_live', 'params' : {'from': from}} %}
{% endif %}