{% extends "::layout.html.twig" %}

{% block title %}Bloginy : {% trans from "bloginy" %}Search posts{% endtrans %}{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/bundles/bloginy/utils/bloginyPager.js') }}"></script>
    <script src="{{ asset('js/bundles/bloginy/post/PostHandler.js') }}"></script>
{% endblock %}

{% block mainmenu %}
    {% render "BloginyBundle:Utils:mainMenu" %}
{% endblock %}

{% block body %}

    <div id="posts-list">
        {% render "BloginyBundle:Post:searchPosts" with {'filter': filter} %}
    </div>

{% endblock %}

{% block sidebarright %}
    <div id="sidebar-right" class="sidebar">
        {% include "BloginyBundle:Post:tag_cloud.html.twig" with {'tags': tags} %}
    </div>
{% endblock %}

{% block submenu %}
    <div id="submenu">{% trans from 'bloginy' %}Searching posts that match {% endtrans %} <strong>{{ filter }}</strong></div>
{% endblock %}