{% if tags|length %}
    <div class="tags">
      <h4 class="tag_link">Tags :</h4>
      {% for tag in tags %}
        <div class="tag_link">
            <img src="{{ asset('images/icons/tag-icon.png') }}" alt="" />
            <a href="{{ path('posts_tag', {'tag' : tag.tag|replace({'/': '%2F'})}) }}">{{ tag.tag }}</a>
        </div>
      {% endfor %}
    </div>
{% endif %}