{% extends "BloginyBundle::layout.html.twig" %}

{% block title %}Bloginy : {% trans from "bloginy" %}Propose a blog{% endtrans %}{% endblock %}

{% block body %}

    <h1>{% trans from "bloginy" %}Blog Proposed{% endtrans %}</h1>

    {% trans from "bloginy" %}Your blog has been proposed with success. It will be validated as soon as possible. Thanks{% endtrans %}.

{% endblock %}

{% block search %}
    {% include "BloginyBundle:Blog:search_form.html.twig" %}
{% endblock %}

{% block sidebar_left %}
    {% render "BloginyBundle:Utils:mainMenu" with {"current": "blogs"} %}
{% endblock %}