{% extends "BloginyBundle::layout.html.twig" %}

{% block title %}Bloginy : {% trans from "bloginy" %}Search blogs{% endtrans %}{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/bloginy/js/BloginyPager.js') }}"></script>
{% endblock %}

{% block body %}

    <div id="blogs-list">
        {% render "BloginyBundle:Blog:searchBlogs" with {'filter': filter} %}
    </div>

{% endblock %}

{% block sidebarright %}
    <div id="sidebar-right" class="sidebar">
        {% include "BloginyBundle:Blog:propose_button.html.twig" %}
        {% render "BloginyBundle:Blog:dailyBlog" %}
        {% render "BloginyBundle:Blog:last" %}
    </div>
{% endblock %}

{% block search %}
    {% include "BloginyBundle:Blog:search_form.html.twig" with {'value': filter} %}
{% endblock %}

{% block sidebar_left %}
    {% render "BloginyBundle:Utils:mainMenu" with {"current": "blogs"} %}
{% endblock %}