<form id="search_form" method="post" action="{{ path('blog_search') }}">
    <input type="text" name="filter" value="{% trans from 'bloginy' %}Search blogs{% endtrans %}" />
    <button class="button2" id="go">Go</button>
</form>

<script>
    var form = new SearchFormView($('#search_form'));
    form.init();
</script>