<form id="search_form" method="get" action="{{ path('blog_search') }}">
    <input type="text" name="filter" placeholder="{% trans from 'bloginy' %}Search blogs{% endtrans %}" {% if value is defined %}value="{{ value }}"{% endif %} />
</form>