<nav>
    <a {% if current == 'posts' %}class="current"{% endif %} href="{{ path('posts_live') }}">{% trans from "bloginy" %}Live posts{% endtrans %}</a>
    <a {% if current == 'activities' %}class="current"{% endif %} href="{{ path('activities_live') }}">{% trans from "bloginy" %}Live activities{% endtrans %}</a>
</nav>