<ul id="main-menu" class="menu-vertical">
    <li {% if current is defined and current=="aggregator" %}class="current"{% endif %}><a href="{{ path('blog_posts_list') }}"><span>{% trans from "bloginy" %}Aggregator{% endtrans %}</span></a></li>
    <li {% if current is defined and current=="blogs" %}class="current"{% endif %}><a href="{{ path('blogs_list') }}"><span>{% trans from "bloginy" %}Blogs{% endtrans %}</span></a></li>
</ul>