<nav id="main_menu">
    <a {% if current is defined and current=="aggregator" %}class="current"{% endif %} href="{{ path('blog_posts_list') }}">{% trans from "bloginy" %}Aggregator{% endtrans %}</a>
    <a {% if current is defined and current=="blogs" %}class="current"{% endif %} href="{{ path('blogs_list') }}">{% trans from "bloginy" %}Blogs{% endtrans %}</a>
</nav>