<form id="share-link-form" class="form">
    <h3>{% trans from 'bloginy' %}The link to be shared{% endtrans %}</h3>
    <input type="text" name="shared_link" class="shared_link" disabled="disabled" value="{{ blog_post.link }}"/>
</form>    

<div id="shared-link-details">
    {% include "BloginyBundle:User:init_shared_link.html.twig" with {'form': form, 'blog_post': blog_post} %}
</div>

<script>
    var view = new ShareLinkView($('#share-link-form'), $('#shared-link-details'));
    view.initSharingForm();
</script>