<ul class="menu-vertical" id="user_comments_menu">
    <li class="current"><a href="{{ path('user_comments') }}">{% trans from "bloginy" %}All comments{% endtrans %}</a></li>
    <li><a href="{{ path('user_comments', {'filter': 'waiting'}) }}">{% trans from "bloginy" %}Waiting moderation{% endtrans %}</a></li>
    <li><a href="{{ path('user_comments', {'filter': 'approved'}) }}">{% trans from "bloginy" %}Approved comments{% endtrans %}</a></li>
</ul>

<script>
    var menu = new VerticalMenu('#user_comments_menu', '#user_comments_content');
    menu.init();
</script>