{% extends "::layout.html.twig" %}

{% block title %}Bloginy : {% trans from "user" %}Lost password ?{% endtrans %}{% endblock %}

{% block body %}

    <h1>{% trans from "user" %}Lost password ?{% endtrans %}</h1>

    <p>{% trans from "bloginy" %}You lost your password, enter your email to get a new one{% endtrans %} : </p>
    {% if error %}
    <p>{% trans from "bloginy" %}The email you entered is unknown{% endtrans %}</p>
    {% endif %}

    <form class="form" action="{{ path('user_lost_password') }}" method="post">
        <input type="email" name="lost_password_email" />
        <button class="button2">{% trans from "bloginy" %}Get a new password{% endtrans %}</button>
    </form>    

{% endblock %}


{% block submenu %}
    <div id="submenu"></div>
{% endblock %}