{% extends "::layout.html.twig" %}

{% block title %}Bloginy : {% trans from "user" %}Lost password ?{% endtrans %}{% endblock %}

{% block body %}

    <h1>{% trans from "user" %}Lost password ?{% endtrans %}</h1>

    <p>{% trans from "bloginy" %}A new password has been successfully generated and sent for you. Check your email (your junk mail too :P){% endtrans %} : </p>

{% endblock %}


{% block submenu %}
    <div id="submenu"></div>
{% endblock %}