<a id="share-link" href="{{ path('user_share_link') }}" class="button2">{% trans from 'bloginy' %}Share / Write a post{% endtrans %}</a>

<script>
    $(document).ready(function() {
        $("a#share-link").fancybox();
    });
</script>