<div id="sharing-writing-container">
    <form id="share-link-form" class="form" action="{{ path('user_share_link') }}" method="post">
        <h3>{% trans from 'bloginy' %}Enter the link to share{% endtrans %}</h3>
        <a href="{{ path('user_init_shared_link') }}" class="button2" id="get-link-button">{% trans from 'bloginy' %}OK{% endtrans %}</a>
        <input type="text" name="shared_link" class="shared_link" />
    </form>    

    <div id="write-post-link">{% trans from "bloginy" %}Or{% endtrans %} <a href="{{ path('user_write_post') }}">{% trans from "bloginy" %}write your post on Bloginy{% endtrans %}</a></div>
    <div id="shared-link-details"></div>
</div>

<script>
    var view = new ShareLinkView($('#share-link-form'), $('#shared-link-details'), $('#write-post-link'), $('#sharing-writing-container'));
    view.init();
</script>
