<p>A new blog has been proposed to Bloginy</p>
<br />
<p><strong>Title :</strong> {{blog.title}} </p>
<p><strong>Description :</strong> {{blog.description}} </p>
<p><strong>Url :</strong> {{blog.url}} </p>
<p><strong>Feed Url :</strong> {{blog.feedUrl}} </p>