<p>A new comment has been added to Bloginy On the following post : <a href="{{ url('post_details', { 'slug': comment.post.slug }) }}">{{ comment.post.title }}</a></p>
<br />
<p><strong>Author :</strong> {{comment.username}} </p>
<p><strong>Comment :</strong> {{comment.comment}} </p>