<p>Some one sent you a message threw Bloginy</p>
<br />
<p><strong>Name :</strong> {{contact.name}} </p>
<p><strong>Email :</strong> {{contact.email}} </p>
<p><strong>Subject :</strong> {{contact.subject}} </p>
<p><strong>Message :</strong> {{contact.message}} </p>