<p>{% trans from "bloginy" %}You received this mail because you asked for a new password on {% endtrans %}<a href="{{ url('homepage') }}">Bloginy</a>.</p>
<p>{% trans from "bloginy" %}Your new generated password is {%endtrans %}: <strong>{{ password }}</strong></p>
<p>{% trans from "bloginy" %}We hope to see you very soon{% endtrans %}.</p><br />
<p>{% trans from "bloginy" %}Bloginy's Team{% endtrans %}.</p>